%h1 Schedule for #{@person}
- unless @upcoming_events.empty?
  #upcoming_events
    %h2 Upcoming events
    = render :partial => 'events', :locals => {:events => @upcoming_events}
- unless @current_events.empty?
  #current_events
    %h2 Current events
    = render :partial => 'events', :locals => {:events => @current_events}
- unless @completed_events.empty?
  #completed_events
    %h2 Completed events
    = render :partial => 'events', :locals => {:events => @completed_events}
