%h1 Listing teams

%table
  %tr
    %th Name
    %th Positions
    %th Description

  - @teams.each do |team|
    %tr
      %td= link_to_record team
      %td= team.positions.count
      %td.text-attribute= team.description
