- person ||= @person
%table.messages.person-messages[person]
  %thead
    %tr
      %th Title
      %th From
      %th To
      %th Sent
      %th Recorded by
      %th
  - person.message_receipts.order(created_at: :desc).each do |receipt|
    = render 'messages/message_tbody', receipt: receipt
