- provide :main_action_list_items do
  %li= link_to 'All people', people_path
  - if @profile
    - if policy(@profile.person).show?
      %li= link_to_record @profile.person
    - if policy(@profile.person).edit? or policy(@profile).edit?
      %li
        = link_to_edit_record @profile.person do
          Edit #{@profile.person}
