%h1 Listing positions

%table
  %tr
    %th Name
    %th Team
    %th Automatic assignments
    %th Description

  - @positions.each do |position|
    %tr
      %td= link_to_record position
      %td= link_to_record position.team
      %td
        - auto = []
        - if position.all_team_members_eligible
          - auto << 'team members'
        - if position.new_user_eligible
          - auto << 'new users'
        = auto.to_sentence
      %td= position.description
