- checked_statuses ||= Person::STATUSES.map &:to_s
- Person::STATUSES.each do |status|
  - box_id = "query-status-#{status}"
  %label.input{for: box_id, style: 'display: inline-block'}
    - checked = (status.to_s.in?(checked_statuses) or checked_statuses.none?)
    = check_box_tag "status[#{status}]", '1', checked, id: box_id
    = status
