- provide :main_action_list_items do
  - if policy(<%= plural_name %>).list?
    %li= link_to 'All <%= plural_name %>', <%= index_helper %>_path
  - if policy(<%= singular_name %>.new).create?
    %li= link_to 'New <%= singular_name %>', new_<%= singular_name %>_path
  = render 'record_actions'

