%h1
  - if @event
    People involved in
    = link_to_record @event
  - else
    All person/event involvements

= render partial: 'list'

%br

= link_to 'Add a person', @event ? new_event_involvement_path(@event) : new_involvement_path
