%h1 ARTs

%table
  %tr
    %th Name
    %th Prerequisite
    %th Description

  - @arts.each do |art|
    %tr
      %td= link_to_record art
      %td= art.prerequisite
      %td.text-attribute= art.description
