%h1 <%= human_name %> #{link_to_record @<%= singular_name %>}
%dl.attributes[@<%= singular_name %>]
<% attributes.each do |attribute| -%>
<% if attribute.name == 'event_id' -%>
  %dt{id: 'label_event'} Event
  %dd{id: 'value_event'}= link_to_record @<%= singular_name %>.<%= attribute.name %>
<% else -%>
  %dt{id: 'label_<%= attribute.name %>'} <%= attribute.human_name %>
  %dd<% if attribute.type.to_s == 'text' %>.text-attribute<% end %>{id: 'value_<%= attribute.name %>'}<= @<%= singular_name %>.<%= attribute.name %>
<% end -%>
<% end -%>
