.attributes.involvement #value_emergency_contact_info {
  white-space: pre-line;
}

#position-slots table.slots, table#shift-slots {
  border-collapse: collapse;
  td {
    padding: {
      bottom: 2px;
      top: 2px;
    }
    vertical-align: top;
  }
  tr.day-a td, tbody.day-a tr td {
    background-color: #eee;
  }
  tr.day-b td, tbody.day-b tr td {
    background-color: #ddd;
  }
  tr.day-a:hover, tr.day-b:hover {
    td {
      background-color: #fff;
    }
  }
  tr.available td {
  }
  tr.full td {
    color: #999;
  }
  tr.inneed td {
    font-style: italic;
  }
  tr.signedup td {
    font-weight: bolder;
  }
}
