$khaki: #C3B091;

body {
  margin: 0;
}

address {
  background-color: $khaki;
  border-top: thin solid;
  margin-top: 0;
  padding-bottom: 1em;
  padding-top: 0.5em;
  text-align: center;
  width: 100%;
}

.menu_header {
  background-color: $khaki;
  border-bottom: thin solid;
  margin: 0;
  padding: 0 1ex;

  ul.menu {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  ul.menu + ul.menu {
    margin-top: 0.5em;
  }

  li {
    display: inline;
    margin: 0 0.5em;
    /* margin-right: 1em; */
    white-space: nowrap;
  }

  li:first-child {
    margin-left: 0;
  }

  li.account,li.session {
    a,a.visited {
      color: maroon
    }
    a:hover {
      color: white
    }
  }
}

.menu_header, #main-toolbox {
  a,a:visited {
    color: black;
    font-weight: bolder;
    text-decoration: none;
    &:hover {
      background-color: $khaki;
      color: white;
      text-decoration: underline;
    }
  }
}

#main-toolbox {
  background-color: $khaki;
  border-right: thin black solid;
  display: table-cell;
  height: 100%;
  margin-right: 1ex;
  max-width: 25%;
  padding: 1ex;
  vertical-align: top;
  width: 25%;
  .action-list {
    list-style: none;
    margin: 0;
    padding: 0;
    li {
      margin: 1ex 0;
    }
  }
}

.notifications {
  text-align: center;

  .alert, .notice {
    background-color: yellow;
    border: thin solid black;
    display: inline-block;
    padding: {
      left: 0.75ex;
      right: 0.75ex;
    }
  }
}

#body-container {
  background-color: white;
  display: table-cell;
  margin-left: 25%;
  padding: 1ex;
  width: 100%;
}

.content {
}

abbr {
  text-decoration-color: blue;
  text-decoration-line: underline;
  text-decoration-style: dashed;
  // TODO Bourbon or Compass for mixins
 -moz-text-decoration: blue dashed underline;
 -ms-text-decoration: blue dashed underline;
 -o-text-decoration: blue dashed underline;
 -webkit-text-decoration: blue dashed underline;

  &:after {
    color: blue;
    content: "\2139" // INFORMATION SOURCE
  }
  // TODO js abbr touch handling to display title
}

th, td {
  padding-right: 1em;
}

tr.total td {
  font-weight: bolder;
}

tr:hover td {
  background-color: #eee;
}

fieldset legend {
  font-size: larger;
  font-weight: bolder;
}

dl.attributes {
  dt {
    font-weight: bolder;
  }
}

.text-attribute {
  white-space: pre-line;
}

.tab-container {
  display: inline-block;
}

dl.user-roles form {
  display: inline;
}

.sortable-header.sort-direction-asc:after {
  content: "\25B2"; /* BLACK UP-POINTING TRIANGLE */
}
.sortable-header.sort-direction-desc:after {
  content: "\25BC"; /* BLACK DOWN-POINTING TRIANGLE */
}

.change-history {
  width: 100%;

  th {
    text-align: left;
    min-width: 10ex;
    white-space: nowrap;
  }

  tbody.audit {
    td.rowhead {
      padding-bottom: 1ex;
    }

    tr:hover .rowhead {
      background-color: white;
    }
  }
}
