// Place all the styles related to the roles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.role_title {
  .description {
    font-size: smaller;
    font-style: italic;
    font-weight: lighter;
    &:before {
      content: "("
    }
    &:after {
      content: ")"
    }
  }
}

.user_role {
  display: block;

  .present {
    font-weight: bolder;
  }
}
