.search-box,.quick-search-box {
  font-size: larger;
}

.quick-search-box {
  min-width: 20ex;
  width: 100%;
}

.tt-dropdown-menu, .tt-query, .tt-hint {
  background-color: white;
  font-size: larger;
  min-width: 20ex;
  width: 100%;
}
