- if can? :read, :events
  %h2.actions-header Event
  = form_tag set_default_events_path, class: 'quick-event-form' do
    - options = options_from_collection_for_select(Event.select([:slug, :name]), :slug, :name, @event ? @event.slug : @default_event_id)
    = select_tag 'default_event_id', options, include_blank: true
    = submit_tag 'Go', id: 'quick-event-submit', data: {disable_with: 'Go'}
